    
	.progress-bar-container:not(:last-child) {
		margin-bottom: 50px;
	}
	.progress-bar-container h2 {
		color: #eee;
		letter-spacing: 1px;
		font-size: 20px;
	}
	.percentage {
		display: block;
		height: 100%;
		/*background-color:  #40E0D0;*/
		border-radius: 5px;
		animation: progress 5s ease-in 1;
		font-size: 0.8rem;
	}
	.progress-bar {
		width:100%;
		height: 15px;
		/*margin-top: 10px;*/
		border: 0.5px solid #565656;
		border-radius: 5px;
	}

	/* Animating the progress bar by 
	initially starting from 0*/
	@keyframes progress {
		from {
			width: 0;
		}
	}