.skill-container {
	width: 100px;
	height: 80px;
	background-color: #c1c1c1;
	padding: 5px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.skill-component {
	background-color: rgba(230, 230, 230, 0.5);
	padding-left: 20px;
	padding-bottom: 10px;
}